<body>
    {{!-- {{Start of header and nav}} --}}
    <header>

        <nav class="navbar navbar-expand-md navcolor navbar-light">
            <a style="font-family: 'Abril Fatface', cursive;" class="navbar-brand" href="/homepage"><strong>Book Chat</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item px-2">
                        <a href="#" style="font-size:14px" class="nav-link" href="#">Logout</a>
                    </li>
                </ul>

            </div>
        </nav>

    </header>

    <sections>

        <div class="container">
            <br>
            <br>
            <br>
            <br>

            <div class="row">

                <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h3 style="font-family: 'Abril Fatface', cursive;">{{thread.dataValues.topic}}</h3>

                    <p class="mt-2" id="genre">
                        by: {{thread.User.dataValues.first_name}} {{thread.User.dataValues.last_name}}
                    </p>
                </div>
                <div class="col-12 col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="msg_history">

                        {{#each chat}}

                        <div class="card shadow border border-white mb-2 mt-2 {{classifyou}}"
                            style=" border-radius: 20px;">
                            <div class="card-body">
                                <h6 class="card-title">{{author}}</h6>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                <p class="card-text">{{comment}}</p>

                                <span class="time_date_recieve"> {{timeMade}} | {{dateMade}}</span>
                            </div>
                        </div>

                        {{/each}}

                    </div>

                    <form data-thread_id="{{thread.dataValues.id}}" id="sendMessage" class="type_msg">
                        <input id="chatInput" class="form-control form-control-lg shadow-lg chatInput" type="text"
                            placeholder="Type a message">
                        <button class="msg_send_btn" type="submit"><span class="material-icons">
                                send
                            </span></button>
                        </input>

                    </form>

                </div>
                <div class="col-0 col-xl-1 col-lg-1 col-md-1 col-sm-0 col-xs-0">

                </div>

            </div>

        </div>

        </section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/js.js"></script>
        <script type="text/javascript" src="/js/thread.js"></script>
</body>