<body>
    {{!-- {{Start of header and nav}} --}}
    <header>

        <nav class="navbar navbar-expand-md navcolor navbar-light">

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item px-2">
                        <span style="font-family:gotham-book; font-size:14px" class="nav-link"
                            href="Pages/Contact.html">LOGO GOES HERE</span>
                    </li>
                </ul>

            </div>
        </nav>

    </header>

    <sections>

        <div class="container">
            <br>
            <br>
            <br>
            <br>

            <div class="row">

                <div class="col-4">
                    <h2 style="font-family: 'Abril Fatface', cursive;">{{post_title}}</h2>

                    <p class="mt-2" id="genre">
                        Genre: {{post_content}}
                    </p>
                </div>
                <div class="col-7">
                    <div class="msg_history">

                        <div class="card shadow border border-white mb-2 mt-2 received_msg"
                            style=" border-radius: 20px;">
                            <div class="card-body">
                                <h5 class="card-title">{{poster_name}}</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                <p class="card-text">{{message}}</p>

                                <span class="time_date_recieve"> {{time}} | {{date}}</span>
                            </div>
                        </div>

                        <div class="card shadow border border-white mb-2 mt-2 outgoing_msg"
                            style=" border-radius: 20px;">
                            <div class="card-body">
                                <h5 class="card-title">{{poster_name}}</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                <p class="card-text">{{message}}</p>

                                <span class="time_date_send"> {{time}} | {{date}}</span>
                            </div>
                        </div>

                    </div>
                    
                    <div class="type_msg">
                        <input class="form-control form-control-lg shadow-lg chatInput" type="text" placeholder="Type a message">
                        <button class="msg_send_btn" type="button"><span class="material-icons">
                            send
                            </span></button>
                    </input>
                        
                    </div>

                </div>
                <div class="col-1">

                </div>

            </div>

        </div>

        </section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</body>