<body>
    <!-- start of header and nav -->
    <header>

        <nav class="navbar navbar-expand-md navcolor navbar-light">

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item px-2">
                        <span style="font-size:14px" class="nav-link" href="Pages/Contact.html">LOGO GOES HERE</span>
                    </li>
                </ul>

            </div>
        </nav>

    </header>

    <section>

        <div class="container-fluid">
            <!-- start of portfolio placeholder images -->
            <br>
            <br>
            <br>
            <br>

            <div class="row ml-5">
                <h1 style="font-family: 'Abril Fatface', cursive;">My Book Clubs</h1>
            </div>
            <div class="row flex-row flex-nowrap scrollmenu ml-5">
                <div class="col-3 pl-0">
                    <p class="mt-4">
                        I'm baby kinfolk cold-pressed glossier narwhal kale chips letterpress health goth drinking
                        vinegar 90's tumblr pork belly organic put a bird on it. Hella listicle jean shorts man braid
                        flexitarian microdosing, ramps bushwick pabst bitters humblebrag banh mi kickstarter unicorn.
                        Everyday carry offal letterpress ramps, adaptogen kinfolk venmo chicharrones. Fashion axe
                        live-edge vice readymade 90's letterpress coloring book man bun retro beard cold-pressed.
                    </p>
                </div>
                {{#each book}}
                <div data-clubid="{{this.dataValues.Club.dataValues.id}}" class="col-2 clickClub">
                    <div data-clubid="{{this.dataValues.Club.dataValues.id}}" class="card grow mb-5 mt-4 shadow border border-white" style=" border-radius: 20px;">
                        <div data-clubid="{{this.dataValues.Club.dataValues.id}}" class="card-body">
                            <img src="{{this.dataValues.Club.dataValues.picture_url}}" alt="Book Cover" class="img-fluid" style="width: 100%; border-radius: 15px;">
                            <h5 class="card-title mt-2">{{this.dataValues.Club.dataValues.book_title}}</h5>
                            <span class="stars"></span>

                            <a><span class="material-icons right">
                                    bookmark
                                </span>
                                <span style="display: none" class="material-icons right">
                                    bookmark_border
                                </span></a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>

            <br>
            <br>

        </div>

    </section>
    <!-- adds the drop shadow to the portfolio section -->
    <main class="shadow parallax_scroll ">
        <a id="portfolio"></a>
        <div class="container">
            <!-- start of portfolio placeholder images -->
            <br> <br> <br>
            <h2 style="text-align: center; font-family: 'Abril Fatface', cursive;">Find a new book</h2>



            <p style="text-align: center;">I'm baby kinfolk cold-pressed glossier narwhal kale chips letterpress
                health
                goth drinking</p>


            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <form class="form-search">

                        <input id="search_input" class="form-control form-control-lg shadow-lg" type="text"
                            placeholder="Search">

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Search</button>

                    </form>

                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">

                </div>

            </div>
        </div>
        <br></br>
        <div class="container-fluid">
            <!-- start of portfolio placeholder images -->
            <br>

            <div class="row ml-5">
                <h3 style="font-family: 'Abril Fatface', cursive;">Popular</h3>

            </div>
            <div id="bookResults" class="row flex-row flex-nowrap scrollmenu ml-5">
                {{#each search}}
                <div class="col-2">
                    <div class="card grow mb-5 mt-4 shadow border border-white" style=" border-radius: 20px;">
                        <div class="card-body">
                            <img src="{{image_url}}" alt="book cover" class="img-fluid"
                                style="width: 100%; border-radius: 15px;">

                            <h5 class="card-title mt-2">{{book_title}}</h5>
                            <span class="stars">5.0</span>
                            <button data-selfLink="{{selflink}}" class="addBook btn btn-lg btn-primary btn-block" type="submit">Make Club</button>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>

            <br></br>


            <br>
            <br>

            <br>
        </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/js.js"></script>
    <script type="text/javascript" src="/js/homepage.js"></script>

</body>