<body>
    <!-- start of header and nav -->
    <header>

        <nav class="navbar navbar-expand-md navcolor navbar-light">
<a class="navbar-brand" href="index.html"><strong>Project Name</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item px-2">
                        <a href="#" style="font-size:14px" class="nav-link" href="#">Logout</a>
                    </li>
                </ul>

            </div>
        </nav>

    </header>

    <section>
<div id="toastConfirm">Joining club...</div>

        <div class="container-fluid">
            <!-- start of portfolio placeholder images -->
            <br>
            <br>
            <br>
            <br>

            <div class="row ml-auto">
                <h1 style="font-family: 'Abril Fatface', cursive;">My Book Clubs</h1>
            </div>
            <div class="row ml-auto">
                <div class="col-12 pl-0">
                    <p class=" d-lg-none d-sm-block col-sm-12  col-sm-12 colxs-12 pl-0">
                        Let's have a chat! Join the discussion related to your book by clicking on one of the books in your club! 
                    </p>
                </div>
            </div>
            <div class="row flex-row flex-nowrap scrollmenu ml-auto">
                <div class="d-none d-xs-none d-sm-none d-md-none d-lg-block col-lg-3">
                    <p class="mt-4">
                        Let's have a chat! Join the discussion related to your book by clicking on one of the books in your club!
                    </p>
                </div>
                {{#each book}}

                <div class="col-8 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-xs-8 clickClub">
                    <div class="card grow mb-5 mt-4 shadow border border-white" style=" border-radius: 20px;">
                        <div class="card-body">
                            <a href="/club/{{this.dataValues.Club.dataValues.id}}">
                                <img src="{{this.dataValues.Club.dataValues.picture_url}}" alt="Book Cover" class="test"
                                    style="width: 100%; border-radius: 15px;">
                            </a>

                            <div class="titleHeight">
                             <h5 class="card-title mt-2">{{this.dataValues.Club.dataValues.book_title}}</h5><br>
                            </div>
                            <br>
                            <span class="card-subtitle">{{this.dataValues.Club.dataValues.book_author}}</span>



                            <button data-clubId="{{this.dataValues.Club.dataValues.id}}" title="Delete Book"class="deleteBook btn btn-link btn-block material-icons right pt-0 mr-2" type="submit">
                                remove_circle
                            </button>



                        </div>
                    </div>
                </div>
                {{/each}}

            </div>

         

        </div>

    </section>
    <!-- adds the drop shadow to the portfolio section -->
    <main class="shadow parallax_scroll ">
        <a id="portfolio"></a>
        <div class="container">
            <!-- start of portfolio placeholder images -->
            <br> <br> <br>
            <h2 style="text-align: center; font-family: 'Abril Fatface', cursive;">Find a new book</h2>



            <div class="row">
                <div class="col-md-3 col-sm-0 col-xs-0">

                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <form class="form-inline form-search">

                        <input id="search_input" class="form-control form-control-lg shadow-lg mr-2" type="text"
                            placeholder="Search by title" style="width: 80%;">

                        <button class="btn btn-primary text-uppercase round" type="submit" style="width: auto;"><span
                                class="material-icons mt-2">
                                search
                            </span></button>

                    </form>

                </div>
                <div class="col-md-3 col-sm-0 col-xs-0">

                </div>

            </div>
        </div>
        <br></br>
        <div class="container-fluid">
            <!-- start of portfolio placeholder images -->
            <br>

            {{!-- <div class="row ml-auto">
                <h3 style="font-family: 'Abril Fatface', cursive;">Popular</h3>

            </div> --}}
            <div id="bookResults" class="row flex-row flex-nowrap scrollmenu ml-auto">
                {{#each search}}
                <div class="col-8 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-xs-8" id="fadeIn">
                    <div class="card grow mb-5 mt-4 shadow border border-white" style=" border-radius: 20px;">
                        <div class="card-body">
                            <a href="#">
                                <img src="{{image_url}}" alt="book cover" class="test"
                                    style="width: 100%; border-radius: 15px;">
                            </a>
                            <div class="titleHeight">
                            <h5 class="card-title mt-2">{{book_title}}</h5><br>
                            </div><br>
                            <span class="card-subtitle ">{{book_author}}</span>

                            {{!-- <button data-selfLink="{{selflink}}" class="addBook right" type="submit"><span alt="Add Club" class="material-icons right">
                                    bookmark_border
                                </span>
                                <span alt="Add Club" style="display: none" class="material-icons right">
                                    bookmark
                                </span></button> --}}

                            <button data-selfLink="{{selflink}}" title="Join Book Club" class="addBook btn btn-link btn-block material-icons right pt-0 mr-2" type="submit">
                                add_circle
                            </button>


                        </div>
                    </div>

                </div>
                {{/each}}

            </div>

            <br></br>


            <br>
            <br>

            <br>
            {{!-- <div id="toastConfirm">Some text some message..</div> --}}

        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{!-- <script type="text/javascript" src="/js/js.js"></script> --}}
    <script type="text/javascript" src="/js/homepage.js"></script>

</body>